.rainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
    /* In front of bg, behind UI */
}

.raindrop {
    position: absolute;
    background-color: rgba(174, 194, 224, 0.6);
    /* Blue-ish tint */
    width: 2px;
    height: 25px;
    /* Longer streaks for speed illusion */
    top: -50px;
    opacity: 0.8;
    /* Rotation for diagonal wind effect */
    transform: rotate(20deg);
    animation: fall linear infinite;
    /* Start slightly off-screen to cover the tilt */
    margin-left: -50px;
}

@keyframes fall {
    0% {
        transform: rotate(20deg) translate(0, 0);
    }

    100% {
        /* Move down and right */
        transform: rotate(20deg) translate(20vh, 110vh);
    }
}