.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 3rem;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}

.description {
  max-width: 300px;
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  color: var(--text-secondary);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: var(--fw-bold);
}

.line {
  display: block;
  width: 30px;
  height: 1px;
  background-color: var(--text-secondary);
  transition: width 0.2s ease, background-color 0.2s ease;
}

.navLink:hover {
  color: var(--text-primary);
}

.navLink:hover .line {
  width: 60px;
  background-color: var(--text-primary);
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.socials a:hover {
  color: var(--text-accent);
}
