.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin-bottom: 4rem;
}

.imageContainer {
  grid-column: 1 / 8;
  grid-row: 1 / -1;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.image {
  width: 100%;
  height: auto;
  filter: grayscale(100%) contrast(1) brightness(90%);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: block;
}

.imageContainer:hover .image {
  filter: none;
}

.content {
  grid-column: 7 / -1;
  grid-row: 1 / -1;
  position: relative;
  z-index: 2;
  text-align: right;
}

.title {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  background-color: var(--bg-card);
  padding: 1.5rem;
  border-radius: 4px;
  color: var(--text-secondary);
  font-size: 0.9rem;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style: none;
  margin-bottom: 1.5rem;
  color: var(--text-secondary);
  font-family: monospace;
  font-size: 0.85rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.link {
  color: var(--text-primary);
}

.link:hover {
  color: var(--text-accent);
}

@media (max-width: 768px) {
  .card {
    display: block;
    margin-bottom: 3rem;
  }
  
  .imageContainer {
    display: none;
  }
  
  .content {
    text-align: left;
    padding: 1.5rem 0;
  }
  
  .description {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
  
  .tags {
    justify-content: flex-start;
  }
  
  .links {
    justify-content: flex-start;
  }
}
