.roomContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1a1510;
  /* High fidelity Save Room Render */
  background-image: url("../../../assets/mailboxBG.png");
  background-size: 120rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 30%, rgba(0, 0, 0, 0.8) 90%);
  pointer-events: none;
  z-index: 1;
}

.deskArea {
  z-index: 10;
  transform: rotate(1deg);
  /* Slight organic tilt */
}

/* ===== SISTEMA DE PARTÍCULAS MÁGICAS ===== */

/* Contenedor de partículas - cubre toda la página */
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 5;
}

/* Cada partícula individual */
.particle {
  position: absolute;
  display: block;
  background: white;
  border-radius: 50%;
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
  animation: float 8s infinite ease-in-out;
  opacity: 0;
}

/* Animación de flotación hacia arriba */
@keyframes float {
  0% {
    transform: translateY(100vh) translateX(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh) translateX(100px) rotate(360deg);
    opacity: 0;
  }
}

/* Variaciones de tamaño y posición para cada partícula */
.particle:nth-child(1) {
  left: 10%;
  width: 3px;
  height: 3px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.particle:nth-child(2) {
  left: 20%;
  width: 2px;
  height: 2px;
  animation-delay: 1s;
  animation-duration: 12s;
}

.particle:nth-child(3) {
  left: 30%;
  width: 4px;
  height: 4px;
  animation-delay: 2s;
  animation-duration: 9s;
}

.particle:nth-child(4) {
  left: 40%;
  width: 2px;
  height: 2px;
  animation-delay: 0.5s;
  animation-duration: 11s;
}

.particle:nth-child(5) {
  left: 50%;
  width: 3px;
  height: 3px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.particle:nth-child(6) {
  left: 60%;
  width: 2px;
  height: 2px;
  animation-delay: 2.5s;
  animation-duration: 13s;
}

.particle:nth-child(7) {
  left: 70%;
  width: 4px;
  height: 4px;
  animation-delay: 0.8s;
  animation-duration: 9s;
}

.particle:nth-child(8) {
  left: 80%;
  width: 3px;
  height: 3px;
  animation-delay: 1.8s;
  animation-duration: 11s;
}

.particle:nth-child(9) {
  left: 90%;
  width: 2px;
  height: 2px;
  animation-delay: 2.8s;
  animation-duration: 12s;
}

.particle:nth-child(10) {
  left: 15%;
  width: 3px;
  height: 3px;
  animation-delay: 0.3s;
  animation-duration: 10s;
}

.particle:nth-child(11) {
  left: 25%;
  width: 4px;
  height: 4px;
  animation-delay: 1.3s;
  animation-duration: 9s;
}

.particle:nth-child(12) {
  left: 35%;
  width: 2px;
  height: 2px;
  animation-delay: 2.3s;
  animation-duration: 11s;
}

.particle:nth-child(13) {
  left: 45%;
  width: 3px;
  height: 3px;
  animation-delay: 0.6s;
  animation-duration: 12s;
}

.particle:nth-child(14) {
  left: 55%;
  width: 2px;
  height: 2px;
  animation-delay: 1.6s;
  animation-duration: 10s;
}

.particle:nth-child(15) {
  left: 65%;
  width: 4px;
  height: 4px;
  animation-delay: 2.6s;
  animation-duration: 9s;
}

.particle:nth-child(16) {
  left: 75%;
  width: 3px;
  height: 3px;
  animation-delay: 0.9s;
  animation-duration: 11s;
}

.particle:nth-child(17) {
  left: 85%;
  width: 2px;
  height: 2px;
  animation-delay: 1.9s;
  animation-duration: 13s;
}

.particle:nth-child(18) {
  left: 95%;
  width: 3px;
  height: 3px;
  animation-delay: 2.9s;
  animation-duration: 10s;
}

.particle:nth-child(19) {
  left: 5%;
  width: 4px;
  height: 4px;
  animation-delay: 0.2s;
  animation-duration: 12s;
}

.particle:nth-child(20) {
  left: 12%;
  width: 2px;
  height: 2px;
  animation-delay: 1.2s;
  animation-duration: 9s;
}

.particle:nth-child(21) {
  left: 22%;
  width: 3px;
  height: 3px;
  animation-delay: 2.2s;
  animation-duration: 11s;
}

.particle:nth-child(22) {
  left: 32%;
  width: 2px;
  height: 2px;
  animation-delay: 0.4s;
  animation-duration: 10s;
}

.particle:nth-child(23) {
  left: 42%;
  width: 4px;
  height: 4px;
  animation-delay: 1.4s;
  animation-duration: 13s;
}

.particle:nth-child(24) {
  left: 52%;
  width: 3px;
  height: 3px;
  animation-delay: 2.4s;
  animation-duration: 9s;
}

.particle:nth-child(25) {
  left: 62%;
  width: 2px;
  height: 2px;
  animation-delay: 0.7s;
  animation-duration: 12s;
}

.particle:nth-child(26) {
  left: 72%;
  width: 3px;
  height: 3px;
  animation-delay: 1.7s;
  animation-duration: 10s;
}

.particle:nth-child(27) {
  left: 82%;
  width: 4px;
  height: 4px;
  animation-delay: 2.7s;
  animation-duration: 11s;
}

.particle:nth-child(28) {
  left: 92%;
  width: 2px;
  height: 2px;
  animation-delay: 0.1s;
  animation-duration: 9s;
}

.particle:nth-child(29) {
  left: 8%;
  width: 3px;
  height: 3px;
  animation-delay: 1.1s;
  animation-duration: 12s;
}

.particle:nth-child(30) {
  left: 18%;
  width: 4px;
  height: 4px;
  animation-delay: 2.1s;
  animation-duration: 10s;
}