.roomContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1a1510;
  /* High fidelity Save Room Render */
  background-image: url("../../../assets/mailboxBG.png");
  background-size: 120rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 30%, rgba(0, 0, 0, 0.8) 90%);
  pointer-events: none;
  z-index: 1;
}

.deskArea {
  z-index: 10;
  transform: rotate(1deg);
  /* Slight organic tilt */
}